@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,latin-ext); */

html {
    margin: 0;
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
	display: table;
    width: 100%;
}
body.defaultSiteOne {
	background-color:#8271a4;
	background-image: url(bg-1.jpg); 
	background-position:center center;
	background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body.defaultSiteTwo {
	background-color:#628498;
	background-image: url(bg-2.jpg); 
	background-position:center center;
	background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body.defaultSiteThree {
	background-color:#fdfdfe;
	background-image: url(bg-w-1.png), url(bg-w-2.png), url(bg-w-3.png), url(bg-w-4.png);
	background-position: left top, right top, left bottom, right bottom;
	background-repeat: no-repeat;
	color:#000;
}
body.defaultSiteFour {
	background-color:#fff;
	background-image: url(bg-x-1.png), url(bg-x-2.png), url(bg-x-3.png), url(bg-x-4.png);
	background-position: left top, right 200px, right bottom, left bottom;
	background-repeat: no-repeat;
	color:#000;
  }
body.defaultSiteThree a, body.defaultSiteThree a:hover {
	color:#000;
}
body.defaultSiteFour a, body.defaultSiteThree a:hover {
	color:#000;
}
body.defaultSiteThree .logohome {
	background-image: url(logo-home-color.png); 
}
body.defaultSiteFour .logohome {
	background-image: url(logo-home-color.png); 
}
.logohome a,.logohome a:hover {
	text-decoration:none;
}
a.hostedinfo:hover {
	text-decoration:none;
}
/* body.defaultSiteThree .container ul li.mail {
    background-image: url(ico-mail-black.png); 
}
body.defaultSiteThree .container ul li.panel {
    background-image: url(ico-panel-black.png); 
}
body.defaultSiteThree .container ul li.forum {
    background-image: url(ico-pomoc-black.png); 
}
body.defaultSiteFour .container ul li.mail {
    background-image: url(ico-mail-black.png); 
}
body.defaultSiteFour .container ul li.panel {
    background-image: url(ico-panel-black.png); 
}
body.defaultSiteFour .container ul li.forum {
    background-image: url(ico-pomoc-black.png); 
} */
a { 
    color: #fff;
    text-decoration: none;
    transition: all 0.2s linear;
}
a:hover {
    color: #fff;
	text-decoration:underline;
}
h1 {
	font-family:'Open Sans', Arial, Helvetica,Sans-serif;
    font-weight: 400;
    text-align: center;
	font-size:40px;
    margin-top: 0px;
	margin-bottom:70px
}
.container { 
    display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.container div { 
    text-align: center;
}
.container ul {
    margin: 30px auto;
    padding: 0;
	justify-content: center;
	display:flex;
}
.container ul li {
    display: inline-block;
    margin-right: 70px;
}
.container ul li a { 
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    width: 60px;
    display: inline-block;
    line-height: 24px;
	padding-top:60px;
}
.container ul li:last-child {
    margin-right: 0;
}
.container ul li.mail {
	background-image: url(ico-mail.png); 
	background-position:center 0px;
	background-repeat:no-repeat;
    -webkit-background-size: 45px 45px;
    -moz-background-size: 45px 45px;
    -o-background-size: 45px 45px;
    background-size: 45px 45px;
}
.container ul li.panel {
    background-image: url(ico-panel.png); 
	background-position:center 0px;
	background-repeat:no-repeat;
    -webkit-background-size: 45px 45px;
    -moz-background-size: 45px 45px;
    -o-background-size: 45px 45px;
    background-size: 45px 45px;
}
/* .container ul li.forum {
    background-image: url(ico-pomoc.png); 
	background-position:center 0px;
	background-repeat:no-repeat;
    -webkit-background-size: 45px 45px;
    -moz-background-size: 45px 45px;
    -o-background-size: 45px 45px;
    background-size: 45px 45px;
}
.options {
    font-weight: 300;
    margin-top: 70px;
}
.hosted {
    font-weight: 300;
    margin-top: 70px;
    font-size: 18px;
    line-height: 30px;
}
.logohome {
	display:inline-block;
	width: 70px; 
	height: 20px;
	background-image: url(logo-home.png); 
	background-position:center center;
	background-repeat:no-repeat;
    -webkit-background-size: 70px 20px;
    -moz-background-size: 70px 20px;
    -o-background-size: 70px 20px;
    background-size: 70px 20px;
}
.logohome a {
	width: 70px; 
	height: 20px;
	display:block;
} */


/* wordpress hosting part */

/* .wpLogo {
	width:64px;
	height:64px;
	background: url(logo-wp.png) center center no-repeat;
	margin-bottom:30px;
	display:inline-block;
}

.defaultSiteThree .wpLogo, .defaultSiteFour .wpLogo {
	background: url(logo-wp-black.png) center center no-repeat;
}

.wpHeader {
	font-size:35px;
} */


/* wordpress hosting part - end */

/* @media (max-width: 700px) {
	h1 {
		font-size:2em;
		line-height:1em;
		margin-top:1em;
		margin-bottom:1em;
	}
	.container { 
		width: 100%;
		margin: 2em auto 2em;
	}
	.hosted {
		font-weight: 300;
		margin-top: 2em;
		font-size: 1em;
		line-height: 2em;
	}
	.container ul  {
		margin: 0 auto;
	}
	.container ul li {
		margin:1em  1em;
	}
	body.defaultSiteThree {
		background-image: none;
	}
}
	